@model QuestionProjectCore.Models.Member

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <form class="login-form">
        <div class="login-elements">
            <h1>Register</h1>
            <input type="text" name="account" id="account" placeholder="Account">
            <br>
            <input type="password" name="pass" id="pass" placeholder="Password">
            <br>
            <input type="text" name="firstname" id="firstname" placeholder="FirstName">
            <br>
            <input type="text" name="lastname" id="lastname" placeholder="LastName">
            <br>
            <input type="date" name="birthdate" id="birthdate">
            <br>
            <input type="text" name="PhoneNumber" id="PhoneNumber" placeholder="PhoneNumber">
            <br>
            <input type="text" name="Country" id="Country" placeholder="Country">
            <br>
            <input type="button" value="Register" id="login">
            <br>
            <label class="register-label">Do you have an account? <a href="Login form.html">Login.</a></label>
            <h1></h1>
        </div>
    </form>
</body>
</html>
