@model QuestionProjectCore.Models.Moderator

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Moderator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModeratorName" class="control-label">Name</label>
                <input asp-for="ModeratorName" class="form-control" />
                <span asp-validation-for="ModeratorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeratorPhone" class="control-label">Phone</label>
                <input asp-for="ModeratorPhone" class="form-control" />
                <span asp-validation-for="ModeratorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moderatormail" class="control-label">Email</label>
                <input asp-for="Moderatormail" class="form-control" />
                <span asp-validation-for="Moderatormail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeratorAge" class="control-label">Age</label>
                <input asp-for="ModeratorAge" class="form-control" />
                <span asp-validation-for="ModeratorAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeratorSalary" class="control-label">Salary</label>
                <input asp-for="ModeratorSalary" class="form-control" />
                <span asp-validation-for="ModeratorSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

