@model Question
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Write A Question:</label>
                    <textarea asp-for="TheQuestion" class="form-control" rows="4" placeholder="Enter your question here..."></textarea>
                </div>
                <input asp-for="CategoryId" type="hidden" value="1" />
                <input asp-for="UserId" type="hidden" value="@_UserManager.GetUserId(User)" />
                <button type="submit" asp-action="WriteQuestion" class="btn btn-primary btn-block mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
